<div class="contenedor-login">
    <img src="assets/img/background/background-login-phone.png" class="img-fluid background-login-phone" alt="">
    <div class="contenedor-card">
        <div class="card card-login">
            <img src="assets/img/logo/logo_banesco.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="input-group">
                    <input type="text" placeholder="&nbsp;&nbsp;&nbsp;Usuario">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="&nbsp;&nbsp;&nbsp;Contraseña">
                </div>
                <div class="input-group">
                    <button id="continuar" routerLink="/inicio">CONTINUAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
