
<div class="contenedor">
    <div class="row">
          <div class="column" >
            <div class="circle-title-content " ><mat-icon class="recipt-correct">check_circle</mat-icon></div>
            <div class="input-group1" style="border-bottom: 3px solid #E6EAF1;">
                
                <h2 class="info-title" >¡Validación exitosa!</h2>
            </div>
          </div>
            
            <div class="column">
            <div class="input-group1" style="margin-top: 24px;">
                <label for="name_receptor">
                    Eviado por:
                </label>
                <p class="info-receptor">yolanda gigante</p>
            </div>
            <div class="input-group1">
                <label for="" >Correo electronico</label>
                <p class="info-receptor">yolanda@correo.com</p>
            </div>
            <div class="input-group1">
                <label for="" >Desde</label>
                <p class="info-receptor">Adv Plus Banking - 1234</p>
            </div>
            <div class="input-group1">
                <label for="">Descripción</label>
                <p class="info-receptor name-bank">
                    Varios
                </p>
            </div>
            <div class="input-group1">
                <label for="">Numero de confirmacion</label>
                <p class="info-receptor name-bank">
                    i5rd22erw
                </p>
            </div>
            <div class="input-group1">
                <label for="">Monto transferido</label>
                <p class="info-receptor">$16,00</p>
            </div>
            
            <div class="input-group">
                <button id="continuar" >CONTINUAR</button>
            </div>
        </div>
    </div>
    
    </div>