<div class="contenedor">
  <div class="titulo">
    <p>Bienvenido a la suite de pagos</p>
  </div>
  <div class="logo-banesco">
    <img src="/assets/img/Banesco-logo-white.png" alt="">
  </div>
  <div class="product-content">
    <div class="product-title">
      <p>Elige una operación</p>
    </div>
    <div fxLayout="column" style="padding-left: 2em;">
      <div fxLayout="row">
        <div class="button" routerLink="/debito-electronico">
          <img src="/assets/img/btn/home/account-charge-btn.svg" alt="">
        </div>
        <div class="button" routerLink="/tarjeta-internacional">
          <img src="/assets/img/btn/home/card-operations-btn.svg" alt="">
        </div>
      </div>
      <div fxLayout="row">
        <div class="button" routerLink="/vuelto">
          <img src="/assets/img/btn/home/change-pocket-btn.svg" alt="">
        </div>
        <div class="button" routerLink="/validar-zelle">
          <img src="/assets/img/btn/home/zelle-btn.svg" alt="">
        </div>
      </div>
      <div fxLayout="row">
        <div class="button" routerLink="/dashboard">
          <img src="/assets/img/btn/home/your-transactions-btn.svg" alt="">
        </div>
        <div class="last-button">
          <img src="/assets/img/btn/home/interbank-payments-btn.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
