.contenedor {
  top: 6vh !important;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20%;
  position: relative;
}

.contenedor * {
  box-sizing: border-box;
}

.vuelto_title {
  font-size: 24px;
  color: #257B58;
  font-weight: 400;
  margin-top: 31px;

}

.myForm {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  justify-content: center;
  margin: auto;
  position: relative;
  top: -0.5em;
  margin-bottom: 5em;
  padding-bottom: 2em;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.input1-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;

}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;

}

.input-group1 label {
  margin-left: 2px;
  padding-top: .5em;
  font-size: 14px;
  color: #5D5C5C;
}

.banks-opt {
  margin-right: 1em;
}

.select-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select-group label {
  margin-left: 2px;
  padding-top: .5em;
  font-size: 14px;
  color: #5D5C5C;
}

.select-group .seleccion {
  display: inline-flex;
  align-content: stretch;
  gap: 10px;
  border-radius: 10px;
}

.select-group .seleccion input {
  flex-grow: 3;
  height: 41px;
  border: 2px solid #8C8B8B;
  border-radius: 10px;
  align-self: center;
  width: 100%;
  font-size: 15px;
  max-width: 200px;
  font-weight: 400;
  position: relative;
  top: -0.5em;
}

.select {
  position: relative;
  width: 40%;
  display: inline-block;
}

.select-bank {
  width: 100%;
  position: relative;
  display: inline-block;
}

.select-group .seleccion .select select {
  flex-grow: 2;
  height: 41px;
  border: 2px solid #8C8B8B;
  border-radius: 10px;
  align-self: center;
  width: 100%;
  max-width: 100px;
  font-size: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  top: -0.5em;
}

.input-group1 .select-bank select {
  width: 100%;
  align-content: stretch;
  max-width: 350px;
  flex-grow: 3;
  height: 41px;
  border: 2px solid #8C8B8B;
  border-radius: 10px;
  font-size: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  top: -0.5em;
}


select:focus {
  outline: none;
}

.input-group1 input {
  height: 41px;
  border: 2px solid #8C8B8B;
  max-width: 350px;
  width: 100%;
  align-self: center;
  border-radius: 10px;
  font-size: 15px;
  position: relative;
  top: -0.5em;
}

.input-group button {
  padding: 0.2em;
  color: #FFFFFF;
  background-color: #007953;
  width: 90%;
  max-width: 300px;
  border: 0;
  align-self: center;
  border-radius: 10px;
  font-size: 21px;
  position: relative;
  top: 1em;
  margin-bottom: 2em;
}

.vuelto_sub {
  margin-top: -15px !important;
  color: #5D5C5C;
  margin-bottom: 1.5em;

}

.margin {
  margin-top: -.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.select::after {
  content: "";
  display: inline-block;
  border-top: 7px solid #257B58;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: calc(35% - 3px);
  left: 4em;
}

input[type=tel] {
  padding: 10px 15px;
}

input[type=number] {
  padding: 10px 15px;
}

input[type=text] {
  padding: 10px 15px;
}

.select-bank::after {
  content: "";
  display: inline-block;
  border-top: 7px solid #257B58;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: calc(35% - 3px);
  left: 17em;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid #D70C1B;
}

button:disabled {
  opacity: 0.3;
}
